<h3>Shapin' Safari</h3>
<p>
	<span class="desc">&#8220; Make shapes using your mousey. &#8221;</span>
</p>
<div class="canvasApp">
	<div class="canvasControls">
		<input type="text" name="shapeName" id="shapeName" />
		<input type="submit" name="submit" value="Save" onclick="canmango.shapinSafari.save();" />
	</div>
	<div class="canvasDisplay">
		<canvas id="canmangoCanvasUnderlay" width="400" height="400">
			Sorry, This kind of magic doesn't work on your browser.
		</canvas>
		<canvas id="canmangoCanvasOverlay" width="400" height="400">

		</canvas>
	</div>
	<canvas id="tempCanvas"></canvas>
	<div id="designs">
		
	</div>	
</div>


